// font
$font-family: Proxima Nova;
$font-size: 1rem;

// background
$default-background-color: #ebebeb;
$background-nav-color: #ffe600;
$background-item: #ffffff;

// colors
$default-text-color: rgba(0, 0, 0, 0.9);
$text-color-gray: rgba(0, 0, 0, 0.55);
$text-color-green: #00a650;

// others
$border-radius: 4px;
