@use "./variables" as vars;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: vars.$font-family;
  font-size: vars.$font-size;
  background-color: vars.$default-background-color;
  color: vars.$default-text-color;
}

a {
  text-decoration: none;
  color: inherit;
}
